.Profile{
    margin: 80px 20px 80px 20px;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 100%;
    box-sizing: border-box;
    text-align: center;
    min-height: 430px;
}

input {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    padding: 3px 10px;
}

p span {
    text-transform: uppercase;
    font-weight: bold;
}

.Profile button {
    border-radius: 10px;
    padding: 5px 15px;
    background-color: brown;
    color: white;
}