.Container {
    margin: 80px 20px 40px 20px;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.Charts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 10px auto;
    flex-flow: column;
}

.Filter {
    margin: 20px auto;
}

@media(min-width: 1200px){
    .Charts{
        flex-flow: row;
    }
}