.Charts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 10px auto;
    flex-flow: column;
}

.Filter {
    margin: 20px auto;
}

@media(min-width: 1200px){
    .Charts{
        flex-flow: row;
    }
}