.Home {
    margin: 15px;
    padding: 15px;
    font-size: 20px;
}

.Welcome{
    padding: 15px;
    height: 500px;
    border: 1px solid white;
    border-radius: 10px;
    background-image: url('../../assets/images/money.png');
    background-size: cover;
    background-position: center;
}

.Home a {
    text-decoration: none;
    padding: 10px 10px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px solid white;
}

.title{
    line-height: 100px;
}


@media (min-width: 600px) {
    .title{
        line-height: 180px;
    }

    .Home {
       font-size: 30px; 
    }
}