.App {
  text-align: center;
  margin: 0;
}

nav {
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 3px 10px;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  width: 120px;
}

nav a.active,
nav a:hover {
  color: white;
}